.copy-button__button{
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  border-radius: 25%;
  bottom: 4px;
  width: 35px;
  height: 35px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: inherit;

  svg{
    position: absolute;
    inset: 5px;
  }
}

.copy-button__button:disabled{
  opacity: initial;
  cursor: pointer;
}

.copy-button__button--clicked{
  background-color: #ffffff0e;
  color: var(--white)
}

@media (hover: hover) {
  .copy-button__button:hover {
      background: #ffffff0e;
      color: var(--white);
  }
}

.display-none{
  display: none;
}


