.copy-button__error-icon-line.visible, .copy-button__error-icon-dot.visible, .copy-button__error-icon-circle.visible{
  stroke-dashoffset: 0;
}

.copy-button__error-icon-line {
  stroke-dasharray: 7;
  stroke-dashoffset: 7;
}

.copy-button__error-icon-dot {
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
}

.copy-button__error-icon-circle {
  stroke-dasharray: 64.83185307179586;
  stroke-dashoffset: 64.83185307179586;
}

@keyframes error-line-draw {
  from {
    stroke-dashoffset: 7;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes error-circle-draw {
  from {
    stroke-dashoffset: 64.83185307179586;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes error-line-erase {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 7;
  }
}

@keyframes error-circle-erase {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 64.83185307179586;
  }
}

.error-entering.copy-button__error-icon-circle {
  animation: error-circle-draw 250ms forwards;
}
.error-leaving.copy-button__error-icon-circle {
  animation: error-circle-erase 250ms forwards;
}

.error-entering.copy-button__error-icon-line {
  animation: error-line-draw 250ms 120ms forwards;
}

.error-leaving.copy-button__error-icon-line {
  animation: error-line-erase 250ms forwards;
}