.loading-dots{
  font-size: clamp(18px, 4vw, 24px);
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.loading-dots__text {
  width: clamp(75px, 8vw, 100px);
}

.loading-dots__circle {
  --size: clamp(18px, 4vw, 28px);

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--main-color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
