.message-container {
  color: var(--white);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  >ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  p, ul>li{
    font-size: clamp(14px, 2.5vw, 17px);
  }
  >div{
    display: flex;
    gap: 15px;
    align-items: center;
  }

  svg{
    flex-shrink: 0;
  }
}

.message-container--error {
  background-color: var(--error-color);
}

.message-container--warning {
  background-color: var(--warning-color);
}

.message-container--success{
  background-color: #2b6d1599;
}