.variable-details{
  display: flex;
  flex-direction: column;
  gap: 25px;

  div:not(.variable-details__header) {
    display: flex;
    flex-direction: column;
    gap: 10px;

    ul li{
      list-style: disc;
      margin-left: 20px;
    };
  }
}

.variable-details__header{
  display: flex;
  align-items: center;
  justify-content: center;

  a{
    display: flex;
  }
  h2{
    flex-grow: 1;
    text-align: center;
  }
}