#search{
  width: 100%;
}

.main-pagination {
  display: flex;
  justify-content: space-between;
}

.main-pagination__button{
  flex-grow: 0;
}

.main-pagination__page-list{
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 320px) {
  .main-pagination__page-list{
    display: none;
  }
}